<div class="header" style="text-align: center;">
  <h2>SpaceX Launch Program</h2>
</div>
 
<div class="row" style="background-color: rgb(245, 245, 245);">
  <div class="col-3 menu">
    <table>
      <tr>
        <th style="float: left;">Filters :</th>
      </tr>
      <tr>
        <td>
          <div class="center">Launch Year</div>
          <hr>
        </td>
      </tr>
      <tr>
        <td >
          <p><button type="button" class="btn btn-success">2006</button></p>
        </td>
        <td>
          <p><button type="button" class="btn btn-success">2007</button></p>
        </td>
      </tr>
      <tr>
        <td>
          <p><button type="button" class="btn btn-success ">2008</button></p>
        </td>
        <td>
          <p><button type="button" class="btn btn-success">2009</button></p>
        </td>
      </tr>
      <tr>
        <td>
          <p><button type="button" class="btn btn-success">2010</button></p>
        </td>
        <td>
          <p><button type="button" class="btn btn-success">2011</button></p>
        </td>
      </tr>
      <tr>
        <td>
          <p><button type="button" class="btn btn-success">2012</button></p>
        </td>
        <td>
          <p><button type="button" class="btn btn-success">2013</button></p>
        </td>
      </tr>
      <tr>
        <td>
          <p><button type="button" class="btn btn-success" [ngClass]="[btnDateStyle]" (click)=isDateSelected()>2014</button></p>
        </td>
        <td>
          <p><button type="button" class="btn btn-success">2015</button></p>
        </td>
      </tr>
      <tr>
        <td>
          <p><button type="button" class="btn btn-success">2016</button></p>
        </td>
        <td>
          <p><button type="button" class="btn btn-success">2017</button></p>
        </td>
      </tr>
      <tr>
        <td>
          <p><button type="button" class="btn btn-success">2018</button></p>
        </td>
        <td>
          <p><button type="button" class="btn btn-success">2019</button></p>
        </td>
      </tr>
      <tr>
        <td>
          <p><button type="button" class="btn btn-success">2020</button></p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="center2">Successful Launch</div>
          <hr>
        </td>
      </tr>
      <tr>
        <td><button type="button" class="btn btn-success" [ngClass]="[btnLaunchSuccessStyle]" (click)=isLauchSuccess()>True</button></td>
        <td><button type="button" class="btn btn-success" [ngClass]="[btnLaunchFailStyle]" (click)=isLauchFailed()>False</button></td>
      </tr>
      <tr>
        <td>
          <div class="center3">Successful Landing</div>
          <hr>
        </td>
      </tr>
      <tr>
        <td><button type="button" class="btn btn-success" [ngClass]="[btnLandSuccessStyle]" (click)=isLandSuccess() >True</button></td>
        <td><button type="button" class="btn btn-success" [ngClass]="[btnLandFailStyle]" (click)=isLandFailed()>False</button></td>
      </tr>
    </table>
  </div>

  <div class="col-9">
    <div style="display: inline-block;" *ngFor="let details of spaceSummary">
      <div class="card" style="background-color: white;">
        <img class="card-img-top" src="{{details.links.mission_patch_small}}" alt="Card image" style="width:100% ; background-color: rgb(233, 227, 227);">
        <div class="card-body" >
          <h6 class="card-title cardTitle ">{{details.mission_name}}#{{details.flight_number}}</h6>
          <p class="cardBody"><b>Launch year :</b>{{details.launch_year}}</p>
          <p class="cardBody"><b>Mission Ids:</b>{{details.mission_id}}</p>
          <p class="cardBody"><b>Successful launch: </b>{{details.launch_success}}</p>
          <p class="cardBody"><b>Successful landing: </b>{{details.rocket.first_stage.cores[0].land_success}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <p style="font-size: large; margin-top: 0.4em;"><b>Developed By : </b>Heena Kaushar</p>
</div>